.Main {
  max-width: 65%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main h1 {
  max-width: fit-content;
  text-align: center;
  color: #0f6990;
  font-weight: lighter;
  font-size: 3rem;
  border-bottom: 1px solid gray;
  display: inline-block;
}
.Main h2 {
  max-width: fit-content;
  text-align: center;
  color: #0f6990;
  font-weight: lighter;
  font-size: 2rem;
  border-bottom: 1px solid gray;
  display: inline-block;
}

@media (max-width: 800px) {
  .Main {
    max-width: 90%;
  }
}
/* ----------------FAQ------------------------- */
.FAQ div {
  margin-bottom: 15px;
}
.FAQ div::before {
  content: "Q: ";
  font-weight: bold;
  color: #0f6990;
  margin-right: 10px;
}
.FAQ span {
  display: block;
  margin-bottom: 30px;
}
.FAQ span::before {
  content: "A: ";
  font-weight: bold;
  color: red;
  margin-right: 10px;
}
.FAQ span:last-child {
  margin-bottom: 80px;
}
/* ----------------Certyfikaty------------------------- */
.Certyfikaty {
  display: flex;
  flex-wrap: wrap;
}
.Certyfikaty div {
  width: 30%;
  margin: 2% 10%;
  position: relative;
}
.Certyfikaty h3 {
  margin: 0;
}
.Certyfikaty img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(1) invert(0);
  filter: grayscale(1) invert(0);
  border-radius: 20px;
}
.Certyfikaty p {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  position: absolute;
  top: -35px;
  right: 5px;
  border-radius: 15px;
  background-color: #0f6990c5;
  /* background-color: transparent 20%; */
}
.Certyfikaty img:hover {
  cursor: pointer;
}
