.Photo {
  width: 100%;
  background-image: url("../assets/img/guitar_03.jpg");
  aspect-ratio: 5;
  background-position: center;
  background-size: cover;
}

.calendar_month {
  color: rgb(99, 99, 99);
}
.react-calendar__navigation button {
  font-size: 1em;
}

@media (max-width: 800px) {
  .Photo {
    aspect-ratio: 3;
  }
}
