.Komentarz {
  display: flex;
  align-items: center;
  width: 100%;
}

.Komentarz img {
  width: 3em;
  border-radius: 25px;
  margin-right: 20px;
}

@media (max-width: 800px) {
  .Komentarz {
    width: 90%;
  }
}
