.DownInfo {
  padding: 0 10%;
  border-top: 1px solid gray;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
  background-color: #0f6990;
  color: white;
  margin-top: 3em;
}
.DownInfo a {
  text-decoration: none;
  color: white;
}
.DownInfo h3 {
  font-weight: lighter;
  color: #ffffff;
}
.DownInfo div {
  margin: 20px 0;
  flex: 1;
}
